body {
    background-color: #86B6CE ;
    font-family: 'Muli', sans-serif;
}

.jumbotron {
    padding-left: 20px;
    color: #2EA1C7;
    background-image: url(../images/caracal-eyes.jpg);
    background-color: #4B7280;
    background-repeat: no-repeat;
}


h4 {
    color: #DECF02;
}

h5 {
    color: #FFEE00;
}

h2 {
    color: #D1BC47;
}

p {
    color: #96766B;
}

form, .form-group {
    background-color: #FACE7D;
}

.navbar navbar-default {
    margin-top: 5px;
    padding: 5px;
}

.container, .first container, .second container {
    margin-top: 15px;
    background-color: aliceblue
}

img {
  margin: auto;
} 

#footer {
    text-align: center;
    background-color: #DBD9D5;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin:auto;
}


/*http://randomwallpapers.net/caracal_w280395 */

